*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Pridi', serif;
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color: #fef6e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}

h1{
    color: #001858;
    text-align: center;
}

.text_img{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.text-simple{
    color: #172c66;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.text-simple h3{
    font-size: 1.1em;
    color: #8bd3dd;
    background-color: #001858;
    padding: 15px;
    border-radius: 45px;
}

.img_container{
    padding: 20px;
}

img{
    border-radius: 10px;    
}

button{
    font-size: 1.3em;
    background-color: #f582ae;
    color: #001858;
    width: 275px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    transition: 0.3s ease-out;
}

button:hover{
    cursor: pointer;
    background-color: #fef6e4;
    color: #f582ae;
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 800px){
    .text_img{
        flex-wrap: wrap;
    }
    .text-simple{
        text-align: center;
    }
}

@media only screen and (max-width: 625px){
    img{
        width: 500px;
    }
}

@media only screen and (max-width: 475px){
    img{
        width: 300px;
    }

}